:root{
    --pink:#e84393;
}

*{
    margin: 0; padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    outline: none; border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: .2s linear;
}

html{
    font-size: 62.5%;
    scroll-behavior: smooth;
    scroll-padding-top: 6rem;
    overflow-x: hidden;
}

section{
    padding:2rem 9%;
}

.about{
    align-items: center;
    gap: 2rem;
    flex-wrap: wrap;
    padding: 2rem 0;
    padding-bottom: 3rem;
}

.about .content{
    text-align: center;
}

.about .content p{
    font-size: 2rem;
    color: black;
    padding: 5rem 0;
    padding-top: 1rem;
    line-height: 1.5;
    text-align: center;
}

.about .content .btn a{
    line-height: 1.5;
}

.footer .link-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    background: rgba(124, 88, 88, 0.47);
}

.footer .link-container .box2 {
    flex: 1 1 25rem;
}

.footer .link-container .box2 a {
    display: block;
    color: black;
    font-size: 1.5rem;
    padding: 3rem 0;
  text align: center;
}

.footer .link-container .box2 a:hover {
    color: white;
    text-decoration: none;
}
